In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import metrics 
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

In [2]:
df_original = pd.read_excel("1 - Project Data.xlsx")

In [3]:
pd.set_option('display.max_columns', None)
df_original.describe(include='all')

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Reason
count,7043,7043.0,7043,7043,7043,7043.000000,7043,7043.000000,7043.000000,7043,7043,7043,7043,7043.000000,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043.000000,7043.0,7043,7043.000000,1869
unique,7043,NaN,1,1,1129,NaN,1652,NaN,NaN,2,2,2,2,NaN,2,3,3,3,3,3,3,3,3,3,2,4,NaN,6531.0,2,NaN,20
top,3668-QPYBK,NaN,United States,California,Los Angeles,NaN,"33.964131, -118.272783",NaN,NaN,Male,No,No,No,NaN,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,NaN,20.2,No,NaN,Attitude of support person
freq,1,NaN,7043,7043,305,NaN,5,NaN,NaN,3555,5901,3641,5416,NaN,6361,3390,3096,3498,3088,3095,3473,2810,2785,3875,4171,2365,NaN,11.0,5174,NaN,192
mean,NaN,1.0,NaN,NaN,NaN,93521.964646,NaN,36.282441,-119.798880,NaN,NaN,NaN,NaN,32.371149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.761692,NaN,NaN,0.265370,NaN
std,NaN,0.0,NaN,NaN,NaN,1865.794555,NaN,2.455723,2.157889,NaN,NaN,NaN,NaN,24.559481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.090047,NaN,NaN,0.441561,NaN
min,NaN,1.0,NaN,NaN,NaN,90001.000000,NaN,32.555828,-124.301372,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.250000,NaN,NaN,0.000000,NaN
25%,NaN,1.0,NaN,NaN,NaN,92102.000000,NaN,34.030915,-121.815412,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.500000,NaN,NaN,0.000000,NaN
50%,NaN,1.0,NaN,NaN,NaN,93552.000000,NaN,36.391777,-119.730885,NaN,NaN,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.350000,NaN,NaN,0.000000,NaN
75%,NaN,1.0,NaN,NaN,NaN,95351.000000,NaN,38.224869,-118.043237,NaN,NaN,NaN,NaN,55.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.850000,NaN,NaN,1.000000,NaN
max,NaN,1.0,NaN,NaN,NaN,96161.000000,NaN,41.962127,-114.192901,NaN,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.750000,NaN,NaN,1.000000,NaN

In [4]:
df_original.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,Competitor had better devices

In [14]:
df_original.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   int64
 10  Senior Citizen     7043 non-null   int64
 11  Partner            7043 non-null   int64
 12  Dependents         7043 non-null   int64
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   int64
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   float64
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Reason       7043 non-null   object
dtypes: float64(4), int64(9), object(18)
memory usage: 1.7+ MB

In [6]:
print(df_original.columns)

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Reason'],
      dtype='object')

In [9]:
print(df_original['Gender'].unique())
print(df_original['Senior Citizen'].unique()) # Check for exact column name
print(df_original['Partner'].unique())
print(df_original['Dependents'].unique())
print(df_original['Contract'].unique()) # Also check this for exact spelling

['Male' 'Female']
['No' 'Yes']
['No' 'Yes']
['No' 'Yes']
['Month-to-month' 'Two year' 'One year']

In [10]:
def clean(df_original):
    df_original['Gender'] = df_original.Gender.map({'Female':0, 'Male':1})
    df_original['Senior Citizen'] = df_original['Senior Citizen'].map({'No':0, 'Yes':1})
    df_original['Partner'] = df_original.Partner.map({'No':0, 'Yes':1})
    df_original['Dependents'] = df_original.Dependents.map({'No':0, 'Yes':1})
    df_original['Contract'] = df_original.Contract.map({'Two year':24, 'Month-to-month':1, 'One year':12})
    df_original['Churn Reason'] = df_original['Churn Reason'].fillna('np.nan')
    df_original['Total Charges'] = pd.to_numeric(df_original['Total Charges'], errors='coerce')
    df_original['Total Charges'].fillna(0, inplace=True)

    return df_original

In [11]:
df_original= clean(df_original)

In [15]:
df_original.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,1,0,0,0,2,Yes,No,DSL,Yes,Yes,No,No,No,No,1,Yes,Mailed check,53.85,108.15,Yes,1,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,0,0,0,1,2,Yes,No,Fiber optic,No,No,No,No,No,No,1,Yes,Electronic check,70.70,151.65,Yes,1,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,0,0,0,1,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,1,Yes,Electronic check,99.65,820.50,Yes,1,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,0,0,1,1,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,1,Yes,Electronic check,104.80,3046.05,Yes,1,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,1,0,0,1,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,1,Yes,Bank transfer (automatic),103.70,5036.30,Yes,1,Competitor had better devices

In [16]:
df = df_original.copy()

In [18]:
df_encoded = pd.get_dummies(df, columns=['Phone Service','Multiple Lines'], drop_first=True)

In [20]:
df_encoded.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   CustomerID                       7043 non-null   object
 1   Count                            7043 non-null   int64
 2   Country                          7043 non-null   object
 3   State                            7043 non-null   object
 4   City                             7043 non-null   object
 5   Zip Code                         7043 non-null   int64
 6   Lat Long                         7043 non-null   object
 7   Latitude                         7043 non-null   float64
 8   Longitude                        7043 non-null   float64
 9   Gender                           7043 non-null   int64
 10  Senior Citizen                   7043 non-null   int64
 11  Partner                          7043 non-null   int64
 12  Dependents                       7043 non-null   int64
 13  Tenure Months                    7043 non-null   int64
 14  Internet Service                 7043 non-null   object
 15  Online Security                  7043 non-null   object
 16  Online Backup                    7043 non-null   object
 17  Device Protection                7043 non-null   object
 18  Tech Support                     7043 non-null   object
 19  Streaming TV                     7043 non-null   object
 20  Streaming Movies                 7043 non-null   object
 21  Contract                         7043 non-null   int64
 22  Paperless Billing                7043 non-null   object
 23  Payment Method                   7043 non-null   object
 24  Monthly Charges                  7043 non-null   float64
 25  Total Charges                    7043 non-null   float64
 26  Churn Label                      7043 non-null   object
 27  Churn Value                      7043 non-null   int64
 28  Churn Reason                     7043 non-null   object
 29  Phone Service_Yes                7043 non-null   bool
 30  Multiple Lines_No phone service  7043 non-null   bool
 31  Multiple Lines_Yes               7043 non-null   bool
dtypes: bool(3), float64(4), int64(9), object(16)
memory usage: 1.6+ MB